 th,td{
        border:1px solid black;
    }
    }
    table{
        border-collapse: collapse;
		border: 3px solid black;
    }
		body {
        width: 1100px;

			background-color: #C6C9C0; 
		}		
